.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  font-family: "Poppins", "Mazzard", sans-serif;
  font-size: 26px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main {
  flex-grow: 1;
}
