.ElJurnal__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    color: #242424;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}