.news{
    margin-top: 50px;
}

.news__content{
    width: 955px;
    margin: 0 auto;
    margin-top: 50px;
}

.content__header{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.content__title{
    width: 954px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content__text{
    width: 954px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}
