.Partners__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &--item {
        width: 100%;
        max-width: 240px;
        background: #FFFFFF;
        border: 1px solid #C8DACB;
        border-radius: 10px;
        padding: 0 29px 13px 30px;
        text-align: center;
        height: 214px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &--title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #4E4E4E;
    }

    &--img {
        object-fit: contain;
        margin-bottom: 8px;
    }
}